<nav class="navbar navbar-light bg-faded">
	<button class="navbar-toggler hidden-md-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbar-responsive"
		aria-controls="navbar-responsive" aria-expanded="false" aria-label="Toggle navigation"></button>

	<a class="navbar-brand" href="{{ .Site.BaseURL }}">
		<img src="{{ .Site.BaseURL }}images/gitea.png" alt="{{ .Site.Title }}">
	</a>

	<div class="collapse navbar-toggleable-sm" id="navbar-responsive">
		<ul class="nav navbar-nav float-xs-left float-md-right">
			{{ partial "toplinks.html" . }}
		</ul>
	</div>
</nav>
