<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{ .Site.BaseURL }}">
				<img src="{{ .Site.BaseURL }}images/gitea.png" alt="{{ .Site.Title }}">
			</a>
			<span class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
              <span></span>
              <span></span>
              <span></span>
            </span>
		</div>
		<div class="navbar-menu" id="navMenu">
			<div class="navbar-end">
				{{ partial "toplinks.html" . }}
			</div>
		</div>
		<div class="navbar-background" id="navbar-background"></div>
	</div>
</nav>