<aside class="menu">
	{{ $currentNode := . }}{{ range .Site.Menus.sidebar }}
		{{ if .HasChildren }}
			<p class="menu-label">
				{{ .Pre }}
				{{ .Name }}
			</p>
			<ul class="menu-list">
				{{ range .Children }}
					<li>
						<a href="{{ .URL | relLangURL }}" {{ if $currentNode.IsMenuCurrent "sidebar" . }}class="is-active"{{ end }}>
							{{ .Pre }}
							{{ .Name }}
						</a>
					</li>
				{{ end }}
			</ul>
		{{ else }}
			<li>
				<a href="{{ .URL | relLangURL }}">
					{{ .Pre }}
					{{ .Name }}
				</a>
			</li>
		{{ end }}
	{{ end }}
	</ul>
</aside>
