html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
  cursor: default;
}

body > .container {
  padding: 70px 15px 0;
}

.navbar-brand > img {
  height: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
}

footer p {
  margin: 0;
  padding: 10px;
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

footer .copy {
  text-align: left;
}

footer .love {
  text-align: right;
}
