@import "colors";
@import "../node_modules/bootstrap/scss/bootstrap";

.navbar {
  padding: 21px 32px;
  border-bottom: 1px solid $accent-color;
}

.navbar-brand {
  padding: 0;

  img {
    height: 38px;
  }
}

#navbar-responsive {
  clear: right;
}

.footer {
  width: 100%;
  padding: 32px 0;
  background-color: #f7f7f9;

  p {
    margin: 0;
    padding: 16px 0;
  }
}

.content {
  margin: 64px auto;

  pre {
    padding: 16px;
    background-color: $code-bg;
  }

  blockquote{
    @extend .blockquote;
  }
}

aside ul.nav {
  @include media-breakpoint-up(sm) {
    border-right: 1px solid lighten($accent-color, 30);
  }

  ul {
    margin: 0;
    padding: 8px;
    margin-left: -8px;
    margin-bottom: 16px;
    margin-right: 16px;
    border-top: 1px dashed lighten($accent-color, 30);
  }

  li {
    list-style: none;
    margin:0;
    padding: 0;

    li a {
      font-size: 0.9rem;
    }
  }
}
