*, *:hover, *:active, *:focus{
  outline: none;
}

@import '../node_modules/bulmaswatch/flatly/variables';
@import "../node_modules/bulma/bulma";
@import '../node_modules/bulmaswatch/flatly/overrides';

.homepage-hero{
  height: 100vh;
  min-height: 700px;
  overflow: hidden;

  .hero-body .container{
    padding: 3em 0 1em;

    .button:first-child{
      margin-right: 1em;
    }
  }

  .hero-foot img {
    max-width: 100vw;
    width: 1000px;
    display: block;
    margin: 0 auto;
  }
}

.feature-shoutout {
  font-size: 1.2em;

  svg{
    height: 36px;
    vertical-align: middle;
    padding-right: 5px;
    fill: #fff;
  }

  a{
    color: darken($turquoise, 20%) !important;
  }
}

.page .card{
  margin-bottom: 2em;

  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  border: none;
  border-radius: 0.2em;

  .media-content a{
    display: block;
  }
}

// Mobile Styles

.navbar-background{
  -webkit-transition: opacity ease 300ms;
  transition: opacity ease 300ms;

  opacity: 0;
}

.navbar-menu{
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

@media screen and (max-width:1087px){
  .navbar-menu{
    position: fixed;
    bottom: 0;
    top: 0;
    left: -160px;
    z-index: 2;
    opacity: 1;
    display: block;
  }
}

.navbar-menu .logo{
  display: none;
}

.navbar-menu.is-active{
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  left: 0;

  .navbar-item{
    padding: 0.5em 2em 0.5em 1.5em;
  }

  .logo{
    display: block;
  }
}

.navbar-burger.burger{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.navbar-background.is-active{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
}
